
/* shedo box css code  */

input:hover{
    color: red;

}
.third:hover{
    color: blue;

}

p:hover{
    font-size: 30px;
    background-color: yellow;
}
a:visited{
    color:red;

}


.red:focus{
color: brown;
background-color: black;
}

li:first-child{
    color: red;
}
li:nth-child(2n+1){
    color: blue;
}
li:nth-child(2n){
    color: red;
}

h1::before{
    content: ' no need';
}
h3::after{
    content: ' lala' ;
}